<div class="select-search">
  <h4 [id]="labelId">{{ title }}</h4>
  <div class="wrapper">
    <button
      type="button"
      class="select-btn"
      role="combobox"
      [attr.aria-labelledby]="labelId"
      aria-haspopup="listbox"
      [attr.aria-expanded]="isOpen"
      [attr.aria-controls]="listboxId"
      (click)="toggleDropdown()"
      (keydown)="handleKeyDown($event)"
    >
      <span>{{ displaySelectedItem }}</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        aria-hidden="true"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M6 10l6 6l6 -6h-12" />
      </svg>
    </button>

    <div class="content" *ngIf="isOpen">
      <div class="search">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          aria-hidden="true"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
          <path d="M21 21l-6 -6" />
        </svg>
        <input
          type="text"
          [formControl]="searchControl"
          placeholder="Buscar..."
          aria-label="Buscar opciones"
          (keyup)="search($event)"
          (keydown)="handleSearchKeyDown($event)"
        />
      </div>
      <ul [id]="listboxId" class="options" role="listbox" #optionsList>
        @for (item of filteredItems; track item) {
          <li
            #optionElement
            class="option-item"
            tabindex="0"
            role="option"
            [attr.aria-selected]="item === displaySelectedItem"
            [ngClass]="{ selected: item === displaySelectedItem }"
            [attr.data-value]="item"
            (click)="selectItem(item)"
            (keydown)="handleItemKeyDown($event, item)"
          >
            {{ item }}
          </li>
        }
      </ul>
    </div>
  </div>
</div>
