<nav aria-label="Navegación principal" class="nav-links">
  <a routerLink="/">
    <img
      class="icon"
      src="../../../../../assets/img/dollar.webp"
      alt="ValorAr - Inicio"
      width="40"
    />
  </a>
  <ul class="links">
    <li><a routerLink="/dollars" routerLinkActive="active">Dolares</a></li>
    <li class="center">
      <a routerLink="/inflation" routerLinkActive="active">Inflación</a>
    </li>
    <li class="upward">
      <a routerLink="/plazo-fijo" routerLinkActive="active">Plazo fijo</a>
    </li>
    <li class="forward">
      <a routerLink="/performance" routerLinkActive="active">Rendimientos</a>
    </li>
  </ul>
</nav>
