<div *ngIf="!loading">
  <div class="select-container">
    <label for="year" class="select-label">Selecciona un año:</label>
    <select
      id="year"
      class="select-dropdown"
      [(ngModel)]="selectedYear"
      (change)="filterByYear()"
    >
      <option *ngFor="let year of availableYears" [value]="year">
        {{ year }}
      </option>
    </select>
  </div>

  <div class="chart-container" @scaleFadeIn>
    <canvas
      baseChart
      [data]="lineChartData"
      [options]="lineChartOptions"
      [type]="lineChartType"
    >
    </canvas>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
