@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.footer {
  @include flex-center(row, center, center);
  padding: $spacing-medium;
  color: $color-text-secondary;
  font-size: $font-size-xs;

  a {
    @include text-style($color-text-primary, $font-size-xs, 400);
    text-decoration: none;
    transition: $transition-standard;

    &:hover {
      color: lighten($color-highlight-primary, 10%);
    }
  }
}
