@import '../../../../styles/variables';

.fixed-title {
  margin-bottom: 2rem;
  color: $color-text-primary;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 60vh;
  width: 60vw;

  @media screen and (max-width: 1023px) {
    width: 75vw;
  }

  @media screen and (max-width: 767px) {
    height: 45vh;
    width: 92vw;
  }
}
