<section class="home-hero" @scaleFadeIn>
  <div class="hero-container">
    <div class="hero-text">
      <h1>ValorAr</h1>
      <h2>Información Financiera 🇦🇷</h2>
      <p>
        Consulta los valores actualizados de dólares, inflación, plazos fijos y
        rendimientos en Argentina. Información gráfica y detallada para tomar
        decisiones financieras.
      </p>
    </div>
    <div class="hero-image">
      <img
        src="../../../../assets/img/graphic.webp"
        alt="Información financiera"
      />
    </div>
  </div>
</section>
