@import "../../../../styles/variables";

.dollars-title {
  margin-bottom: $spacing-small;
  color: $color-text-primary;
}

.dollars-updated {
  margin-bottom: $spacing-large;
  color: $color-text-secondary;
  font-size: $font-size-small;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 60vh;
  width: 60vw;

  @media screen and (max-width: 1023px) {
    width: 75vw;
  }

  @media screen and (max-width: 767px) {
    height: 45vh;
    width: 92vw;
  }
}
